.container {
  display: flex;
}

.content {
  flex: 2;
  padding: 4rem 4rem 4rem 10rem;
}

.content header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid var(--border);
}

.content header h1 {
  color: var(--input-text);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.125rem;
  margin-bottom: 2rem;
}

.content header span {
  color: var(--input-label);
  min-width: 5.5rem;
}

.orphanages {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}