
:root {
  --background: #ebf2f5;
  --text-title: #4D6F80;
  --text: #fff;
  --yellow: #fff666;
  --blue-gradient: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  --blue-600: #12afcb;
  --blue-500: #15c3d6;
  --blue-400: #17d6eb;
  --blue-300: #12d4e0;
  --blue-200: #98feff;
  --blue-border: #B3DAE2;
  --border: #D3E2E5;
  --green: #3CDC8C;
  --green-text: #37C77F;
  --green-button-hover: #3EE08F;
  --green-border: #A1E9C5;
  --red-border: #FFBCD4;
  --red-select: #FFE4EE;
  --red-text: #FF669D;
  --input-background: #F5F8FA;
  --input-text: #5C8599;
  --input-label: #8FA7B2;
  --green-select: #EDFFF6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background);
  color: var(--text);
}

button {
  cursor: pointer;
}

body, input, button, textarea {
  font: 600 1.125rem Nunito, sans-serif;
}
