.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: var(--green-text);
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 7.5rem;
}

.message h1 {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.message p {
  font-size: 1.5rem;
  line-height: 2.125rem;
  margin-bottom: 5rem;
}

.message button {
  height: 64px;
  width: 243px;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #31B272;
  border: 0;
  font-size: 1.125rem;
  transition: all 0.2s;
}

.message button:hover {
  background: #3BD689;
  transition: all 0.2s;
}