.container {
  background: #e6f7fb;
  border: 1px solid #b3dae2;
  border-radius: 20px;
  margin-top: 64px;
}

.container footer {
  padding: 20px 0;
  text-align: center;
}

.container footer a {
  line-height: 24px;
  color: #0089a5;
  text-decoration: none;
}